@font-face {
    font-family: "vazir-medium";
    src: url(/Src/assets/lib/fonts/vazirFont/Vazir-Medium.woff)format("wff"),
    url(/Src/assets/lib/fonts/vazirFont/Vazir-Medium.woff2)format("wff2");
  }
  @font-face {
    font-family: "vazir-medium-number";
    src: url(/Src/assets/lib/fonts/vazirFont/Vazir-Medium-FD-WOL.woff)format("woff"),
    url(/Src/assets/lib/fonts/vazirFont/Vazir-Medium-FD-WOL.woff2)format("woff2");
  }
  :root{
    font-family: 'vazir-medium-number', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }