* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
============ 
fonts config
============ 
*/
@font-face {
  font-family: "vazir-medium";
  src: url(/Src/assets/lib/fonts/vazir-Font/Vazir-Medium.woff) format("wff"),
    url(/Src/assets/lib/fonts/vazir-Font/Vazir-Medium.woff2) format("wff2");
}
@font-face {
  font-family: "vazir-medium-number";
  src: url(/Src/assets/lib/fonts/vazir-Font/Vazir-Medium-FD-WOL.woff)
      format("woff"),
    url(/Src/assets/lib/fonts/vazir-Font/Vazir-Medium-FD-WOL.woff2)
      format("woff2");
}
/*
============ 
global config
============ 
*/
:root {
  --ff-primary: "vazir-medium-number", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --textColor: white;
  --Clr-Primary: #f77f00;
  --Clr-Primary-opacity: #f7800086;
  --Clr-Primary-Light: #fcbf49;
  --Clr-Secoundery: #d62828;
  --Clr-light: #eae2b7;
  --Clr-dark: #003049;
  --Clr-gray-1: #e8e5e5;
  --Clr-gray-5: #f0f0f0;

  --transition: all 0.3s linear;
  --radius: 0.5rem;
}
body {
  font-family: var(--ff-primary);
  text-align: right;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2rem;
  }
}
.titleGeneral {
  margin: 20px 0px;
}
.titleGeneral h4 {
  color: var(--Clr-Primary);
}
.btn {
  background-color: var(--Clr-Primary);
  color: var(--textColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.btn:hover {
  color: var(--ColorDark);
  background-color: var(--Clr-Primary-Light);
}
.flexstyle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 50px;
}
textarea{
  resize: none;
}
/*
============ 
header part 
============ 
*/
.banner {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(/Src/assets/lib/images/bigHiroImage.png) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  line-height: 2rem;
  text-align: center;
  max-width: 80vw;
  color: var(--textColor);
  position: absolute;
}
@media screen and (min-width: 800px) {
  .banner-text p {
    font-size: 1.25rem;
  }
}
.banner-text h2 {
  color: var(--Clr-Primary);
}
.banner-text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.btn-banner {
  outline: 1px solid var(--Clr-Primary);
  outline-offset: 4px;
}
.bi-list {
  font-size: 2rem;
  color: var(--Clr-Primary);
  position: absolute;
  top: 10px;
  right: 10px;
}
.content-divided {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--Clr-Primary),
    var(--Clr-Primary-Light),
    var(--Clr-Primary)
  );
}
/*
============ 
feature part 
============ 
*/
.features {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 760px) {
  .features {
    flex-wrap: nowrap;
  }
}
.feature {
  text-align: center;
  background-color: var(--Clr-gray-1);
  padding: 20px 0px;
  transition: var(--transition);
}
.feature span {
  display: inline-block;
  margin: 0.5rem 0rem;
}
.feature:hover {
  background-color: var(--Clr-gray-5);
  box-shadow: 0px 5px 0px var(--Clr-Primary);
}
.feature:hover .feature-icon {
  transform: translateY(-7px);
  transition: var(--transition);
}
.feature-icon {
  font-size: 2rem;
  color: var(--Clr-Primary);
}
.feature-content {
  padding: 1rem;
}

/*
============ 
aboutUs part 
============ 
*/

.aboutUs-text {
  margin-top: 10px;
}

.aboutUs-img-container {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: var(--transition);
  overflow: hidden;
}
.aboutUs-img-container:hover {
  box-shadow: 5px 5px 5px var(--Clr-Primary);
}
.aboutUs-img-container:hover img {
  transform: scale(1.2);
  transition: var(--transition);
}
@media screen and (min-width: 760px) {
  .aboutUs-img-container {
    width: 500px;
    height: 300px;
  }
  .aboutUs-text {
    padding: 30px;
    max-width: 40vw;
  }
}

/*
============ 
product part 
============ 
*/
.products {
  background: var(--Clr-gray-5);
  flex-direction: row-reverse;
}
.product {
  padding: 1.2rem;
}
.product:hover .productCard-img-container {
  box-shadow: 3px 3px 3px var(--Clr-Primary);
}
.product-article{
  display: flex;
  flex-wrap: wrap;

}
.product img{
  border-radius: var(--radius);
}
.productCard-text {
  font-weight: 1000;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.productCard-text .price {
  color: var(--Clr-Primary);
  direction: rtl;
}
.productCard-img-container {
  width: 60vw;
  overflow: hidden;
  transition: var(--transition);
  border-radius: var(--radius);
}

.productCard-img-container:hover img {
  transform: scale(1.2);
  transition: var(--transition);
}
@media screen and (min-width: 760px) {
  .productCard-img-container {
    width: 200px;
    height: 250px;
  }
}
.products-text {
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 760px) {
  .products-text {
    width: 350px;
    margin-left: 0px;
    margin-bottom:0;

  }
}

/*
============ 
khadamat part 
============ 
*/

.khadamat-title {
  text-align: center;
}
.khadamatCard{
  width: 80vw;
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: var(--Clr-gray-1);
  border-radius: var(--radius);
  transition: var(--transition);
}
.khadamatCard:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
@media screen and (min-width:760px) {
  .khadamatCard{
    width: 300px;
    margin-left: 2rem;
  }
}
.khadamat-img-container{
  margin: 0px 0px 1.5rem 0px;
  height: 17rem;
  position: relative;
}
.khadamat-img-container img{
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.khadamat-text{
  padding: 0.5rem 1rem ;
  max-width: 17rem;
}
.khadamatCard a{
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  margin: 1rem 1.5rem 2rem 0rem;
}
.img-span-icon{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 100%;
  left: 50%;
  background-color: var(--Clr-Primary-Light);
  border: 5px solid var(--Clr-gray-1);
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 5px 10px;
}
/*
============ 
contanct part 
============ 
*/
.contact{
  background-color: var(--Clr-gray-1);
}
.contact-container{
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
  flex-wrap: wrap;
}
.contact-item{
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.contact-item-title{
  color: var(--Clr-Primary);
  direction: rtl;
}
.contact-item-text{
  max-width: 300px;
}
.contact-form{
  background-color: white;
  width: 25rem;
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
@media screen and (min-width: 769px) {
  .contact-form{
      margin-right: 20rem;
  }
}
.contact-form:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.input-group{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;

}
.form-control{
  display: block;
  width: 100%;
  direction: rtl;
  border-radius: var(--radius);
  margin-bottom: 1.2rem;
  padding: 0.75rem 0.75rem;
  border: none;
  background-color: var(--Clr-gray-5);
}
.form-control::placeholder{
  font-family: var(--ff-primary);
  font-weight: 500;
}
.form-title{
  margin-top: 1rem;
  text-align: center;
}
.form-btn{
  border: none;
  display: block;
  width: 100%;
  padding: 1rem;
  font-family: var(--ff-primary)
}
