/*
===================
reset browsers and addfonts
===================
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "vazir";
  src: url("../lib/fonts/vazir-Font/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../lib/fonts/vazir-Font/Vazir-Medium-FD-WOL.woff2") format("woff2");
}

/*
===================
global style
===================
*/

:root {
  --ff-vazir: "vazir", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --clr-primary: #d90429;
  --clr-primary-light: #ef233c;
  --clr-light: #edf2f4;
  --clr-gray: #8d99ae;
  --clr-dark: #2b2d42;
  --defaut-width-mobile: 70vw;
  --radius: 5px;
  --trasition-default: all 0.3s linear;
}
body {
  font-family: var(--ff-vazir);
}
body.light {
  /* localvariable for light them  */
  --clr-background: var(--clr-light);
  --clr-text: var(--clr-dark);
  --clr-card: var(--clr-primary);
  --clr-card-hover: var(--clr-primary-light);
  --img-container: url("../lib/images/sunny-todoApp-min.jpg");
  /*end of localvariable */
  background-color: var(--clr-background);
  color: var(--clr-text);
}
body.dark {
  /* localvariable for dark them  */
  --clr-background: var(--clr-dark);
  --clr-text: var(--clr-light);
  --clr-card: var(--clr-primary-light);
  --clr-card-hover: var(--clr-primary);
  --img-container: url("../lib/images/night-todoApp-min.jpg");
  /*end of localvariable */
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.center-style {
  display: flex;
  justify-content: center;
}
input {
  border: none;
  direction: rtl;
  padding: 0.25rem 0.5rem;
}
button {
  border: none;
}
.card {
  width: var(--defaut-width-mobile);
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  padding: 2rem 1.5rem;
  color: var(--clr-light);
}
@media screen and (min-width: 768px) {
  .card {
    width: 50vw;
  }
}
ul {
  list-style-type: none;
}
/*
===================
banner img part
===================
*/

.banner-img-todo {
  background: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.175)),
    var(--img-container) center/ cover no-repeat fixed;
  height: 70vh;
  position: relative;
}
.banner-text-todo {
  width: var(--defaut-width-mobile);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: absolute;
  top: 25%;
}
@media screen and (min-width: 768px) {
  .banner-text-todo {
    width: 50vw;
  }
}
.banner-text-icon-todo {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--trasition-default);
}
.btn-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--clr-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/*
===================
input part
===================
*/

.input-container-todo {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

#todo-input {
  width: 90%;
  background-color: var(--clr-primary);
  font-size: 1rem;
  font-family: var(--ff-vazir);
}
#todo-input::placeholder {
  font-family: var(--ff-vazir);
  color: var(--clr-light);
}
#todo-input:focus {
  outline: none;
}

#add-todo-btn {
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
#add-todo-btn:hover {
  background: var(--clr-gray);
}

/*
===================
show tasks part
===================
*/
/* draggable feature */
.draggable{
  opacity: 0.5;
  box-shadow: 3px 3px 3px var(--clr-gray);
}

.task-countainer {
  position: absolute;
  top: 80%;
}
.tasks {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 1rem;
  max-height: 150px;
}
.task {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--clr-gray);
}
.task p {
  overflow: hidden;
}
.task .cancel-task-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.cancel-task-btn:hover {
  color: var(--clr-gray);
}
.task-text {
  margin-left: auto;
}
.task-check[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--clr-light);
}
.task-check[type="checkbox"]:checked {
  content: url(../lib/images/check.svg);
}

.cancel-task-action{
  animation: cancel 1s linear 10ms;
}
@keyframes cancel {
  0%{
    transform: translatex(1px);
  }
  25%{
    transform: translateX(3rem);
  }
  50%{
    transform: translateX(9rem);
  }
  75%{
    transform: translateX(18rem);
  }
  100%{
    transform: translateX(100vw);
  }
}

/*
===================
filters part
===================
*/
.footer-filters{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}
#reminder{
  direction:rtl;
  font-size: 0.9rem;
}
.footer-filters button{
 text-decoration: underline;
 display: inline-block;
 font-family: var(--ff-vazir);
 background-color: var(--clr-primary);
 color: var(--clr-text);
 cursor: pointer;
 margin:0px 4px;
}
button.on{
  color: blue;
  transition: all 0.3s linear;
}
.checked .task-text{
  text-decoration: line-through;
  font-style: italic;
}
.tasks.active .task.checked{
  display: none;
}
.tasks.completed .task:not(.checked){
  display: none;
} 
